<div ng-app="WidgetApp">

	<div ng-controller="HomeCtrl">

		<ul>
			<li>First Item</li>
			<li cch-repeat="color in colors | orderBy:'toString()'">{{color}}</li>
			<li>Last Item</li>
		</ul>

	</div>

</div>