<div ng-app="WidgetApp">

	<div ng-controller="FirstCtrl">

		<a ng-href="{{url}}">Home</a>


		<img ng-src="{{selectedImageUrl}}" />

		<input name="message" type="text">

		<span id="message"></span>

	</div>

</div>